body {
    background-color: white;
    font-family: monospace;
}

.secret  {
    display: none;
}

header {
    background-color: #DC3B3B;
    padding: 16px;
    color: #F9F4EE;
    border-bottom: 2px solid #850E24;
    margin-bottom: 16px;
}


footer {
    background-color: #DC3B3B;
    padding: 24px;
    color: #F9F4EE;
    border-top: 2px solid #850E24;
    font-size: x-large;
    text-align: center;
    line-height: 40px;
}

footer a {
    color: #F9F4EE;
}

header h1 {
    font-size: xx-large;
}

.desc {
    font-size: large;
    border-left: 2px solid white;
    padding: 6px 0 6px 14px;
    margin-top: 12px;
}

.container {
    width: 720px;
    margin: 0 auto;
    box-sizing: border-box;
}

.art {
    text-align: center;
    box-sizing: border-box;
}

.art > img {
    width: 100%;
}


@media screen and (max-width:1024px) {
    .container {
        width: 100%;
        padding: 16px;
    }


    .art > img {
        height: auto;
        width: 100%;
    }

    .desc {
        border: none;
        font-size: large;
    }
}

@media screen and (max-width: 720px) { 


}